.userlist *,

.userlist{
    margin: 0;
    padding: 0;
}

template{
  display:none;
}

.userlist li{
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #555;
    cursor: pointer;
    list-style-type: none;
}

.userlist li:hover{
    background: #666;
}

.userlist li.selected{
    background: orange;
    font-weight: bold;
}